<%- include("../partials/hr-skeleton.ejs") %>

<div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-12">
                        <h1>Users</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Oculux</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Users</li>
                            </ol>
                        </nav>
                    </div>            
                    <div class="col-md-6 col-sm-12 text-right hidden-xs">
                        <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create Campaign</a>
                        <a href="https://themeforest.net/item/oculux-bootstrap-4x-admin-dashboard-clean-modern-ui-kit/23091507" class="btn btn-sm btn-success" title="Themeforest"><i class="icon-basket"></i> Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Users">Users</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#addUser">Add User</a></li>        
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#role-permissions">Role Permissions</a></li>        
                        </ul>
                        <div class="tab-content mt-0">
                            <div class="tab-pane show active" id="Users">
                                <div class="table-responsive">
                                    <table class="table table-hover table-custom spacing8">
                                        <thead>
                                            <tr>
                                                <th class="w60">Name</th>
                                                <th></th>
                                                <th></th>
                                                <th>Created Date</th>
                                                <th>Role</th>
                                                <th class="w100">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (const user of users) { %>
                                                <tr id="<%= user._id %>">
                                                    <td class="width45">
                                                        <div class="avtar-pic w35 bg-pink" data-toggle="tooltip" data-placement="top" title="Avatar Name"><span><%= user.username.substring(0, 2) %></span></div>
                                                    </td>
                                                    <td>
                                                        <h6 class="mb-0"><%= user.username %></h6>
                                                        <span><%= user.email %></span>
                                                    </td>
                                                    <td><span class="badge badge-<%= user.role.role === roles.EMPLOYEE ? "default" : user.role.role === roles.ADMIN ? "info" : "danger" %>"><%= user.role.title %></span></td>
                                                    <td><% user.created_at && user.created_at.toDateString() %></td>
                                                    <td>CEO and Founder</td>
                                                    <td>
                                                        <% if(userPermissions.write) { %>
                                                            <button type="button" data-username="<%= user.username %>" data-role="<%= user.role.role %>" data-phone="<%= user.phone %>" data-email="<%= user.email %>" class="btn btn-sm btn-default edit-user-btn" data-id="<%= user._id %>" title="Edit"><i class="fa fa-edit"></i></button>
                                                        <<% } %>
                                                        <% if (user._id.toString() != req.user._id.toString()) { %>
                                                            <button type="button" class="btn btn-sm btn-default del-user-btn js-sweetalert" data-username="<%= user.username %>" data-id="<%= user._id %>" title="Delete"><i class="fa fa-trash-o text-danger"></i></button>
                                                        <% } %>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>                
                                </div>
                            </div>
                            <div class="tab-pane" id="addUser">
                                <div class="body mt-2">
                                    <form action="/hrms/users/add" method="post" class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" minlength="6" name="username" class="form-control" placeholder="Username *">
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="form-group"> <input type="email" name="email" class="form-control" placeholder="Email ID *">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Confirm Password">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="phone" class="form-control" placeholder="Mobile No">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <select name="role" class="form-control show-tick">
                                                    <option>Select Role Type</option>
                                                    <% for (const role of Object.keys(roles)) { %>
                                                        <option value="<%= roles[role] %>"><%= role %></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="role-permissions">
                                <div class="body mt-2">
                                    <div class="clearfix row">
                                        <div class="col-12">
                                            <h6>Module Permission</h6>
                                            <form action="/hrms/updateUserPermissions" method="post" class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Read</th>
                                                            <th>Write</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for (const role of userRoles) { %>
                                                            <tr>
                                                                <td><%= role.title %></td>
                                                                <td>
                                                                    <label class="fancy-checkbox"> <input class="checkbox-tick" type="checkbox" name="<%= `${role.permissions._id}[read]` %>" <%= role.permissions.permissions.user.read ? 'checked' : '' %> >
                                                                        <span></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="fancy-checkbox">
                                                                        <input class="checkbox-tick" type="checkbox" name="<%= `${role.permissions._id}[write]` %>" <%= role.permissions.permissions.user.write ? 'checked' : '' %> >
                                                                        <span></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="fancy-checkbox">
                                                                        <input class="checkbox-tick" type="checkbox" name="<%= `${role.permissions._id}[delete]` %>" <%= role.permissions.permissions.user.delete ? 'checked' : '' %> >
                                                                        <span></span>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                                <button type="submit" class="btn btn-secondary">Update</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="modal fade" id="updateusermodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Update Contact</h4>
            </div>
            <form class="modal-body" id="update-user-form" action="/hrms/user/update" method="POST">
                <input type="hidden" name="id" id="update-user-id" />
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" name="username" id="update-user-username" required class="form-control round" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <input type="email" name="email" id="update-user-email" required class="form-control round" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <input type="tel" name="phone" id="update-user-phone" required class="form-control round" placeholder="Phone">
                    </div>
                </div>       
                <div class="form-group">
                    <div class="form-line">
                        <select name="role" id="update-user-role" class="form-control show-tick">
                            <option>Select Role Type</option>
                            <% for (const role of Object.keys(roles)) { %>
                                <option value="<%= roles[role] %>"><%= role %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-round btn-primary">Update</button>
                    <button type="button" class="btn btn-round btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/static/assets/bundles/libscripts.bundle.js"></script>
<script src="/static/assets/bundles/vendorscripts.bundle.js"></script>

<script src="/static/assets/vendor/sweetalert/sweetalert.min.js"></script>

<script src="/static/assets/bundles/mainscripts.bundle.js"></script>

<script src="/static/assets/vendor/socketio/socket.io.min.js"></script>
<script src="/static/assets/vendor/toastr/toastr.js"></script>
<script src="/static/assets/js/common2.js"></script>
<script src="/static/assets/js/socketFunctions.js"></script>

<script>
function showConfirmMessage(username, id) {
    swal({
        title: "Are you sure?",
        text: `${username.toUpperCase()} will be permanently deleted from database`,
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#dc3545",
        confirmButtonText: "Yes, delete user!",
        closeOnConfirm: false
    }, async function () {
        console.log(id);
        const res = await fetch(`/hrms/users/${id}`, {
            method: "delete"
        });
        const data = await res.json();
        if (data.error)
            swal("Delete Failed", `${username} couldn't be deleted`, 'error');
        else
            swal("Deleted!", `${username} successfully deleted`, "success");
    });
}

$(".del-user-btn").click(function(){
    const username = $(this).data("username");
    const id = $(this).data("id");
    showConfirmMessage(username, id)
    $(`#${id}`).remove();
})

$(".edit-user-btn").click(function(){
    const id = $(this).data("id");
    const username = $(this).data("username");
    const email = $(this).data("email");
    const role = $(this).data("role");
    const phone = $(this).data("phone");

    $("#update-user-username").val(username);
    $("#update-user-email").val(email);
    $("#update-user-role").val(role);
    $("#update-user-phone").val(phone);
    $("#update-user-id").val(id);

    $("#updateusermodal").modal("toggle");
})
</script>